/*-- scss:rules --*/
.citation {
    font-size: 60%;
}

normsize .citation {
    font-size: 100%;
}

red {
  color: red
}

blue {
  # color: blue;
  color: #76D6FF;
}

green {
  color: green
}

purple {
  color: purple
}